@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .platypi {
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .loginBg{
    background-image: url(/public/images/login_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.blurBg{
    backdrop-filter: blur(10px);
    background-color: transparent;
    
}

.placeholder::placeholder {
    color: white;
}
.placeholder-b::placeholder {
    color: black;
}

input:focus {
    outline: none;
}
  